body {
    font-size: 3rem;
    font-family: sans-serif;
}

html,
.fullscreen {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.calc_box {
    text-align: center;
}

.calc_number {
    margin: auto;
    text-align: right;
    font-size: 3rem;
    width: 20rem;
}

.number {
    text-align: right;
    font-size: 3rem;
    width: 5rem;
}

input[type=button] {
    margin: auto;
    font-size: 3rem;
    width: 5rem;
}